body {

	color: firebrick;
	background: url("http://img.photobucket.com/albums/v454/Rebekahl/17526787490_04e49e1e7b_o_zpszhlaedzu.jpg");
	background-size: cover;
	font-family: 'Dawning of a New Day', cursive;
	height: 100%;
}

h1 {
	font-size: 72px;
	text-align: center;
	margin-top: 10px;
}

p {
	font-size: 32px;
}

footer {
	font-size: 22px;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #FFFFFF;	
}
