body {

	color: firebrick;
	background-color: lightyellow;
	font-family: 'Dawning of a New Day', cursive;
	text-align: center;
	height: 100%;
}

h1 {
	font-size: 72px;
	text-align: center;
	margin-top: 10px;
}

p {
	font-size: 32px;
}

footer {
	font-size: 32px;
	position: fixed;
	bottom: 0;
}

