body {

	color: firebrick;
	background-color: lightyellow;
	font-family: 'Dawning of a New Day', cursive;
	text-align: center;
}
	
}

h1 {
	font-size: 90px;
	text-align: center;
	margin-top: 10px;
}

p {
	font-size: 32px;
}
