body {

	color: firebrick;
	background: url("http://img.photobucket.com/albums/v454/Rebekahl/backgroundhallacher_zpsulo1kpy5.png");
	background-size: cover;
	font-family: 'Libre Baskeville', serif;
	text-align: center;
	height: 100%;
}

h1 {
	font-size: 72px;
	text-align: center;
	margin-top: 10px;
	color: firebrick;
}

p {
	font-size: 32px;
}

footer {
	font-size: 14px;
	color: #000;
	position: fixed;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: firebrick;	
}

li {
	font-family: 'Playfair Display', sans-serif; 
	color: black;
}
}
